<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.ActivityMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="ActivityResultMap" type="cn.edu.shu.xj.ser.entity.Activity">
        <result column="activity_id" property="activityId"/>
        <result column="activity_sub" property="activitySub"/>
        <result column="activity_content" property="activityContent"/>
        <result column="activity_url" property="activityUrl"/>
        <result column="activity_start_time" property="activityStartTime"/>
        <result column="activity_finish_time" property="activityFinishTime"/>
        <result column="activity_state" property="activityState"/>
        <result column="activity_score" property="activityScore"/>
        <result column="activity_leader_name" property="activityLeaderName"/>
        <result column="activity_end_content" property="activityEndContent"/>
        <result column="activity_end_url" property="activityEndUrl"/>

    </resultMap>
    <insert id="addNew">
        insert into activity(activity_sub,activity_content,activity_url,activity_start_time,activity_finish_time,activity_state,activity_score,activity_leader_name)
        VALUES (#{activitySub},#{activityContent},#{imageUrl},#{activityStartTime},#{activityFinishTime},"审核中",#{activityScore},#{userTrueName})
    </insert>
    <update id="addEndContent">
        update activity
        set activity_end_content=#{activityEndContent} , activity_end_url=#{imageUrl}
        where activity_id=#{activityId}
    </update>
    <update id="passActivity">
        update activity
        set activity_state="报名中"
        where activity_id =#{activityId}
    </update>
    <update id="endActivityApply">
        update activity
        set activity_state="报名结束"
        where activity_id =#{activityId}
    </update>
    <update id="endActivity">
        update activity
        set activity_state="活动结束"
        where activity_id =#{activityId}
    </update>
    <delete id="notpassActivity">
        delete from activity
        where activity_id=#{activityId}
    </delete>
    <delete id="deleteActivity">
        delete from activity
        where activity_id=#{activityId}
    </delete>

    <select id="countActivityById" resultType="java.lang.Integer">
        select count(*)
        from activity as ac, ass_activity as aa, ass as a
        WHERE a.ass_id = aa.ass_id and ac.activity_id = aa.activity_id and a.ass_id = #{assId}
    </select>

    <select id="getActivityByAssId" resultType="cn.edu.shu.xj.ser.entity.Activity">
        select *
        from activity as ac, ass_activity as aa, ass as a
        WHERE a.ass_id = aa.ass_id and ac.activity_id = aa.activity_id and a.ass_id = #{assId}
        LIMIT #{Myvalue},#{size}
    </select>

    <select id="countActivityByUserId" resultType="java.lang.Integer">
        select count(*)
        from activity as ac, user_activity as ua, user as u
        WHERE u.user_id = ua.user_id and ac.activity_id = ua.activity_id and u.user_id= #{userId}
    </select>
    <select id="getActivityByUserId" resultType="cn.edu.shu.xj.ser.entity.Activity">
        select *
        from activity as ac, user_activity as ua, user as u
        WHERE u.user_id = ua.user_id and ac.activity_id = ua.activity_id and u.user_id= #{userId}
        LIMIT #{Myvalue},#{size}
    </select>
    <select id="activityMaxId" resultType="java.lang.Long">
        select max(activity_id)
        from activity
    </select>
    <select id="findApplyActivityCount" resultType="java.lang.Integer">
        SELECT count(*)
        from activity as ac ,ass ,ass_activity as aa
        where ac.activity_id = aa.activity_id and ass.ass_id = aa.ass_id and ass.ass_name LIKE "%"#{assName}"%" and  ac.activity_state LIKE "%"#{activityState}"%"
    </select>

    <select id="findApplyActivity" resultType="cn.edu.shu.xj.ser.entity.Activity">
        SELECT *
        from activity as ac ,ass ,ass_activity as aa
        where ac.activity_id = aa.activity_id and ass.ass_id = aa.ass_id and ass.ass_name LIKE "%"#{assName}"%" and  ac.activity_state LIKE "%"#{activityState}"%"
        LIMIT #{Myvalue},#{size}
    </select>
    <select id="getActivityByActivityId" resultType="cn.edu.shu.xj.ser.entity.Activity">
        select *
        from activity
        where activity_id=#{activityId}
    </select>


</mapper>