<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.AssActivityMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="AssActivityResultMap" type="cn.edu.shu.xj.ser.entity.AssActivity">
        <result column="ass_activity_id" property="assActivityId"/>
        <result column="activity_id" property="activityId"/>
        <result column="ass_id" property="assId"/>
        <result column="ass_activity_state" property="assActivityState"/>
    </resultMap>

    <insert id="addNewAssActivity">
        insert into ass_activity(activity_id,ass_id,ass_activity_state)
        values (#{activityId},#{assId},"申请中")
    </insert>


</mapper>