<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.AssMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="AssResultMap" type="cn.edu.shu.xj.ser.entity.Ass">
        <result column="ass_id" property="assId"/>
        <result column="ass_name" property="assName"/>
        <result column="ass_positon" property="assPositon"/>
        <result column="ass_capital" property="assCapital"/>
        <result column="ass_teacher" property="assTeacher"/>
        <result column="ass_notice" property="assNotice"/>
        <result column="ass_state" property="assState"/>
        <result column="ass_leader" property="assLeader"/>
    </resultMap>
    <insert id="applynewAss">
        insert into ass(ass_name,ass_positon,ass_capital,ass_teacher,ass_notice,ass_state,ass_leader)
        values (#{name},#{position},#{funds},#{teacher},"","申请中",#{leaderName})
    </insert>
    <update id="agreeStateChange">
        UPDATE ass
        set ass_state = "已通过"
        where ass_id =#{assId}
    </update>
    <update id="changeAssLeader">
        UPDATE ass
        set ass_leader = #{userTrueName}
        where ass_id =#{assId}
    </update>
    <delete id="notAgreeDeleteAss">
        delete FROM ass
        where ass_id = #{assId}
    </delete>
    <delete id="deleteAss">
        delete from ass
        where ass_id=#{assId}
    </delete>
    <select id="getAssList" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select *
        from ass
        where ass.ass_state = "已通过"
    </select>

    <select id="getAssListPage" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select *
        from ass
        limit #{Myvalue},#{size}
    </select>

    <select id="countByMyId" resultType="java.lang.Integer">
        select count(*)
        from ass as a,member_ass as b
        where b.user_id = #{userId} and a.ass_id = b.ass_id
    </select>

    <select id="getMyAssListPage" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select *
        from ass as a,member_ass as b, user as u
        where u.user_id = b.user_id and a.ass_id = b.ass_id and u.user_id = #{userId}
        limit #{Myvalue},#{size}
    </select>
    <select id="findSameNameAss" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select *
        from ass
        where ass.ass_name=#{name}
    </select>

    <select id="findSameLeaderAss" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select *
        from ass
        where ass.ass_leader=#{name}
    </select>

    <select id="getAssByLeaderId" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select *
        from ass,user,leader_ass
        where user.user_id = leader_ass.user_id and ass.ass_id = leader_ass.ass_id and user.user_id=#{userId}
    </select>
    <select id="getAssListQueryPage" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select *
        from ass
        where ass.ass_name like "%"#{assName}"%" and ass.ass_state like "%"#{assState}"%"
        limit #{Myvalue},#{size}
    </select>
    <select id="countQuery" resultType="java.lang.Integer">
        select count(*)
        from ass
        where ass.ass_name like "%"#{assName}"%" and ass.ass_state like "%"#{assState}"%"
    </select>

    <select id="findActivityAndApplyCount" resultType="cn.edu.shu.xj.ser.entity.Ass">
        select ass.ass_name,count(*) as NumberOfApply
        from activity as ac , ass,ass_activity as aa
        where ac.activity_id = aa.activity_id and ass.ass_id = aa.ass_id and ac.activity_state = "审核中"
        GROUP BY ass.ass_name
    </select>
</mapper>