<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.AssMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="AssResultMap" type="cn.edu.shu.xj.ser.entity.Ass">
        <result column="ass_id" property="assId"/>
        <result column="ass_name" property="assName"/>
        <result column="ass_positon" property="assPositon"/>
        <result column="ass_capital" property="assCapital"/>
        <result column="ass_teacher" property="assTeacher"/>
        <result column="ass_notice" property="assNotice"/>
    </resultMap>



</mapper>