<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.MemberAssMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="MemberAssResultMap" type="cn.edu.shu.xj.ser.entity.MemberAss">
        <result column="member_ass_id" property="memberAssId"/>
        <result column="user_id" property="userId"/>
        <result column="ass_id" property="assId"/>
        <result column="member_ass_state" property="memberAssState"/>
    </resultMap>
    <delete id="deleteAssByAssId">
        delete from member_ass
        where ass_id=#{assId}
    </delete>


</mapper>