<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.shu.xj.ser.mapper.UserMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="userResultMap" type="cn.edu.shu.xj.ser.entity.User">
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_true_name" property="userTrueName"/>
        <result column="user_pwd" property="userPwd"/>
        <result column="user_authority" property="userAuthority"/>
        <result column="user_score" property="userScore"/>
        <result column="user_number" property="userNumber"/>
        <result column="user_gender" property="userGender"/>
        <result column="user_position" property="userPosition"/>
        <result column="user_token" property="userToken"/>
        <result column="user_pic" property="userPic"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_signature" property="userSignature"/>
    </resultMap>
    <insert id="userRegister">
        insert into user(user_name,user_true_name,user_pwd,user_authority,user_score,user_number,user_gender,user_position,user_phone)
        values(#{userName},#{userTrueName},#{userPwd},#{userAuthority},#{userScore},#{userNumber},#{userGender},#{userPosition},#{userPhone})
    </insert>
    <update id="addScore">
        update user
        set user_score =user_score+#{score}
        where user_id =#{userId}
    </update>

    <update id="editUserMessage">
        update user set user_name = #{name}, user_pwd = #{pwd},user_gender = #{gender} ,user_signature = #{signature}, user_phone = #{phone}
        where user_id = #{userId}
    </update>
    <update id="agreeAutorityChange">
        update user
        set user_authority = 1 ,user_position = "社长"
        where user_id =#{userId}
    </update>
    <update id="changeAuthority">
        update user
        set user_authority = #{userAuthority} ,user_position = #{userPosition}
        where user_id =#{userId}
    </update>
    <delete id="deleteUser">
        delete from user
        where user_id =#{userId}
    </delete>

    <select id="findUserById" resultType="cn.edu.shu.xj.ser.entity.User">
        select *
        from user
        where user_id=#{userId}
    </select>

    <select id="findUserByName" resultType="cn.edu.shu.xj.ser.entity.User">
        select *
        from user
        where user_name = #{userName}
    </select>

    <select id="findUserByNumber" resultType="cn.edu.shu.xj.ser.entity.User">
        select *
        from user
        where user_number = #{userNumber}
    </select>

    <select id="findAuthorityAndCount" resultType="cn.edu.shu.xj.ser.entity.User">
        select count(*) as userCount,user_position as userPosition
        from user
        group by userPosition

    </select>

    <select id="findUserListTotal" resultType="java.lang.Integer">
        select count(*)
        from user , member_ass ,ass
        where user.user_id = member_ass.user_id and ass.ass_id = member_ass.ass_id
        AND user_true_name LIKE "%"#{userTrueName}"%" AND ass_name LIKE "%"#{assName}"%" AND user_position like "%"#{position}"%" and member_ass.member_ass_state="已通过"
    </select>

    <select id="findUserListTotalWithNoAss" resultType="java.lang.Integer">
        select count(*)
        from user
        where user_true_name LIKE "%"#{userTrueName}"%"  AND user_position like "%"#{position}"%"
    </select>

    <select id="queryUserList" resultType="cn.edu.shu.xj.ser.entity.User">
        select user.*
        from user , member_ass ,ass
        where user.user_id = member_ass.user_id and ass.ass_id = member_ass.ass_id
        AND user_true_name LIKE "%"#{userTrueName}"%" AND ass_name LIKE "%"#{assName}"%" AND user_position like "%"#{position}"%" and member_ass.member_ass_state="已通过"
        limit #{Myvalue},#{size}
    </select>

    <select id="queryUserListWithNoAss" resultType="cn.edu.shu.xj.ser.entity.User">
        select user.*
        from user
        where user_true_name LIKE "%"#{userTrueName}"%"  AND user_position like "%"#{position}"%"
        limit #{Myvalue},#{size}
    </select>

    <select id="getLeaderByAssId" resultType="cn.edu.shu.xj.ser.entity.User">
        select u.*
        from user as u,leader_ass as la ,ass as a
        where la.ass_id = a.ass_id and u.user_id = la.user_id and u.user_position ="社长" and a.ass_id =#{assId}
    </select>

    <select id="getAllMemberByAssId" resultType="cn.edu.shu.xj.ser.entity.User">
        SELECT *
        from ass as a,user as u,member_ass as ma
        where a.ass_id = ma.ass_id and u.user_id = ma.user_id and a.ass_id = #{assId} and u.user_true_name like "%"#{trueName}"%" and u.user_number like "%"#{number}"%"
        and ma.member_ass_state like "%"#{memberAssState}"%"
        LIMIT #{Myvalue},#{size}
    </select>
    <select id="getTotalMemberByAssId" resultType="java.lang.Integer">
        SELECT count(*)
        from ass as a,user as u,member_ass as ma
        where a.ass_id = ma.ass_id and u.user_id = ma.user_id and a.ass_id = #{assId} and u.user_true_name like "%"#{trueName}"%" and u.user_number like "%"#{number}"%"
        and ma.member_ass_state like "%"#{memberAssState}"%"
    </select>

    <select id="findUserByTrueName" resultType="cn.edu.shu.xj.ser.entity.User">
        select *
        from user
        where user_true_name = #{userTrueName}
    </select>

    <select id="getPartMemberByActivityId" resultType="cn.edu.shu.xj.ser.entity.User">
        select *
        from user, user_activity
        where user.user_id = user_activity.user_id and user_activity.activity_id = #{activityId}
        LIMIT #{Myvalue},#{size}
    </select>
    <select id="getUserByActivityId" resultType="cn.edu.shu.xj.ser.entity.User">
        select *
        from user ,user_activity
        where user.user_id = user_activity.user_id and user_activity.activity_id = #{activityId} and user_activity.user_activity_state="已通过"
    </select>


</mapper>